---
const { lang } = Astro.props;
import "../styles/global.css";
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificados</title>

    <!-- Favicon y iconos -->
    <link rel="icon" type="image/svg+xml" href="/img/Vector.svg" />
    <link rel="shortcut icon" type="image/svg+xml" href="/img/Vector.svg" />
    <link rel="apple-touch-icon" href="/img/Vector.svg" />

    <!-- Meta tags adicionales -->
    <meta name="description" content="Certificados y logros profesionales" />
    <meta name="theme-color" content="#F5332C" />
  </head>
  <body class="relative text-[#0D0208] dark:text-white">
    <div
      class="w-full dark:bg-[#0D0208] bg-white dark:bg-[radial-gradient(#ffffff33_1px,#0D0208_1px)] bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[size:20px_20px] [background-size:16px_16px]"
      style="position: relative; z-index: 1;"
    >
      <slot />
    </div>
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Inter Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
        overscroll-behavior: none;
      }
    </style>
  </body>
</html>
